html {
  font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

hr {
  margin: 72px auto;
  position: relative;
  border-top: 1px solid rgba(0,0,0,.5);
  border-bottom: none;
  height: 0;
  width: 200px;
}

.print {
  display: none;
}

@media print {
  .print {
    display: block;
  }
  .pagebreak {
    clear: both;
    page-break-after: always;
  }
  html, body {
    font-size: 14px;
  }
  main {
    width: 80vw;
    margin: 0 auto;
  }
  header {
    background-color: white!important;
    color: black!important;
  }
  header p:nth-last-child(2),
  header p:nth-last-child(3) {
    display: none;
  }
  h1 {
    font-size: 24px!important;
    color: black!important;
  }
  h2 {
    font-size: 18px!important;
  }
  h3 {
    font-size: 14px!important;
    margin-top: 36px!important;
  }
  p {
    font-size: 14px!important;
  }
  hr {
    visibility: hidden;
    margin: 36px auto;
  }
  footer {
    display: none;
  }
}
